tr{
    color: rgb(82, 44, 44);
    text-align: center;
}
tr{
    border-bottom:1px solid black ;
}
tr:nth-child(odd){/*minden páratlan sor formázas*/
    background-color: antiquewhite;


}
th{
    background-color: rgb(156, 219, 198);
}