/* töröspont 700px
nav 
aside 
article
menu ne alaáhuzva
nincs felsorolas
ha folé viszem az egeret változon a szine


a kulon css kell mindenhez de az oldalakizas.css mindehez kell*/

h1{
    text-align: center;
    border-bottom:5px double black ;
}
a{
    text-decoration: none;
    color: black;
    

}

li{
    list-style-type: none;
}
a:hover{
    background-color: aqua;

}
footer{
    text-align: center;
    border-top: 1px solid black;
}

table,td,th{

    border-collapse:collapse ;/*cellák közötti rések eltüntetése*/

}
table{
    width: 80%;
    margin: auto;
}
main{
    background-color: rgb(156, 219, 198);
}

.reszponzivTablazat{
    width: 100%;
    overflow-x:scroll ;/* berak egfy görgetöt */
}









/* oladl alakitás */
main{
    display: grid;
    grid-template-columns:1fr 4fr 2fr;
    grid-template-areas:
        "h h h"
        "n ar as"
        "f f f "
        ;
}

head{
    grid-area: h;/* elnevezés */
}
nav{
    grid-area: n;
    
}
article{
    grid-area: ar;
}
aside{
    grid-area: as;
}
footer{
    grid-area: f;
}

@media screen and (max-width: 700px) {
    main{
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas:
            "h"
            "n"
            "ar"
            "as"
            "f"
            ;
    }

    
}
